---

export interface Props {
	image: string;
  withDescription?: boolean
}


const { image, withDescription = true } = Astro.props;
---

<a href="/blog/test">
  <img src={image} alt="" class="rounded-lg mb-0">
  <div class="mt-4">
    <div class="mb-3 text-sm space-x-1">
       <span class="font-medium">Agathe</span>
       <span>·</span>
       <span>6 min read</span>
    </div>
    <h4 class="mb-3 group-hover:underline text-2xl font-semibold tracking-tight leading-tight">
      Hey Siri: Download the new MailerSend iOS app!
    </h4>
    {withDescription ? <p class="text-black/70 leading-relaxed tracking-wide md:max-w-xl">
      Accessing key metrics and managing critical settings doesn’t have to be limited to your laptop or PC. You can now take your MailerSend account on the go with the new iOS app!
    </p>: null}
  </div>
</a>