---
import { astroI18n, t } from "astro-i18n";
astroI18n.init(Astro)

const today = new Date();
---
<footer class="bg-white dark:bg-gray-800 rounded-lg">
	<div class="w-full p-4 md:px-6 md:py-8">
		<div class="sm:flex sm:items-center sm:justify-between">
				<a href="https://avyga.com/" class="flex items-center mb-4 sm:mb-0 text-gray-700 dark:text-gray-300">
					<!-- <img src="https://avyga.com/logos/2.svg" class="h-10 mr-3" alt="Avyga Logo" /> -->
					<span class="self-center text-2xl font-semibold whitespace-nowrap">Avyga</span>
				</a>
				<ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 dark:text-gray-100 sm:mb-0">
					<li>
							<a href="https://www.avyga.com/pages/about" class="mr-4 hover:underline md:mr-6 ">{t("footer.about")}</a>
					</li>
					<li>
							<a href="https://www.avyga.com/pages/privacy-policy" class="mr-4 hover:underline md:mr-6 ">{t("footer.privacy")}</a>
					</li>
					<!-- <li>
							<a href="#" class="mr-4 hover:underline md:mr-6 ">Licensing</a>
					</li> -->
					<li>
							<a href="https://www.avyga.com/pages/help/contact" class="hover:underline">{t("footer.contact")}</a>
					</li>
				</ul>
		</div>
		<hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
		<span class="block text-sm text-gray-500 dark:text-gray-100 sm:text-center">
			&copy; {today.getFullYear()} <a href="https://avyga.com" class="hover:underline">Avyga</a>. 
			{t("footer.rights")}
		</span>
	</div>
</footer>