---
import Layout from '../../layouts/MainLayout.astro';
import { astroI18n, t } from "astro-i18n"
astroI18n.init(Astro)

---
<Layout
title="Contact Page"
description=""
>
  <div class="text-center relative bg-gray-800 " style={{ height: "52vh", minHeight: "400px" }}>
    <div class="h-full w-full mx-auto my-0 px-3 md:px-6 py-0 max-w-7xl">
      <div class="flex flex-col justify-center h-full">
        <div class="mb-6">
          <h1 class="text-white mb-6 text-4xl md:text-5xl font-bold p-0 tracking-wide">
            {t('help')}
          </h1>
          <p class="text-white font-normal text-base leading-normal tracking-wide">
            Whatsapp: <a
              aria-label="whatsapp page"
              href="https://wa.me/+50941980576"
              class="underline"
              >+50940765158</a>
              <br/>
            {t('call')}: <a
              aria-label="phonemuber"
              href="tel:+50934743143"
              class="underline"
              >+50934743143</a><br/>
            Email: <a
              aria-label="contact email"
              href="mailto:contact@avyga.com"
              class="underline"
              >contact@avyga.com</a><br/>
            {t('schedule')}<br/><br/><br/>
          </p>
        </div>
      </div>
    </div>
  </div>
</Layout>