---
import Layout from '../layouts/MainLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import BlogCard from '../components/blog/card.astro';
import { astroI18n, t } from "astro-i18n"
import { useSanityClient } from 'astro-sanity';
import { getAllPostForHome } from '../sanity/queries';
astroI18n.init(Astro)

// const posts = await useSanityClient().fetch(getAllPostForHome);
// console.log(posts, 'posts')
---
<Layout
title={SITE_TITLE} 
description={SITE_DESCRIPTION}
>
	<section class="my-20 lg:mb-28 ">
		<div class="container mx-auto w-full px-7">
			<div class="2xl:px-20">
				<h1 class="font-bold text-2xl md:text-3xl lg:text-5xl">Avyga blog {t('home')} {t('index.test')}</h1>
				<nav class="flex flex-wrap mt-6">
					<a href="/" class="border-2 rounded-md text-black tracking-wide px-4 py-2 mr-2 mb-2  bg-gray-200 bg-opacity-75 border-transparent ">Latest posts</a>
					<a href="/" class="border-2 rounded-md text-black tracking-wide px-4 py-2 mr-2 mb-2  border-gray-200 text-opacity-75 hover:text-opacity-100 hover:border-gray-300 ">
						New features and updates
					</a>
					<a href="/" class="border-2 rounded-md text-black tracking-wide px-4 py-2 mr-2 mb-2  border-gray-200 text-opacity-75 hover:text-opacity-100 hover:border-gray-300 ">
						Tips and resources
					</a>
				</nav>
			</div>
		</div>
	</section>

	<section>
		<div class="container mx-auto w-full px-7">
				<div class="2xl:px-20 grid md:grid-cols-2 lg:grid-cols-8 gap-x-6 gap-6 lg:gap-y-20">
					<div class="group md:col-span-2">
						<div class="col-xl-8">
							<BlogCard
							image="https://www.mailersend.com/img/asset/bWFpbi9jb3ZlcnMvYmxvZy1lbWFpbC1kbnMtcmVjb3Jkcy1mZWF0dXJlLW1pbi5qcGc=?w=640&h=420&s=8fd54371e95fb02827f50b25db889f64"
							category={"Lifestyle"}
							categorySlug={"/lifestyle"}
							title={"Hey Siri: Download the new MailerSend iOS app!"}
							publishDate={"Avril 5, 2023"}
							/>
						</div>
					</div>
					<div class="md:col-span-4 group">
						<BlogCard
						image="https://www.mailersend.com/img/asset/bWFpbi9jb3ZlcnMvYmxvZy1pb3MtZmVhdHVyZS1taW4tMTY4MDA4Mjk5MC5qcGc=?w=1280&h=400&s=a87a455b0171ad4a4759c5b552efca76"
						category={"Photo"}
						categorySlug={"/photo"}
						title={"Hey Siri: Download the new MailerSend iOS app!"}
						publishDate={"Avril 5, 2023"}
						/>
					</div>
					
					<div class="group md:col-span-2">
						<div class="col-xl-8">
							<BlogCard
							image="https://www.mailersend.com/img/asset/bWFpbi9jb3ZlcnMvMTQtdHJhbnNhY3Rpb25hbC1lbWFpbC1leGFtcGxlcy10by1nZXQteW91LWluc3BpcmVkLmpwZw==?w=640&h=420&s=738ad5f18726a3d9fe8bad9f189299ba"
							category={"Car and trucks"}
							categorySlug={"/lifestyle"}
							title={"Hey Siri: Download the new MailerSend iOS app!"}
							publishDate={"Avril 5, 2023"}
							/>
						</div>
					</div>
				</div>
	
		</div>
	</section>

	<div class="mt-12 pb-8 flex items-center justify-center w-full">
		<a href="#" class="inline-flex items-center px-4 py-2 mr-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700">
			<svg aria-hidden="true" class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
			Previous
		</a>
		<a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700">
			Next
			<svg aria-hidden="true" class="w-5 h-5 ml-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
		</a>
	</div>
</Layout>
