---
import Layout from '../layouts/MainLayout.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
>

<div class="h-96">Good Morning New</div>
<div class="h-96">Good Morning New</div>
</Layout>