---
import { CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';
// import { useSanityClient } from 'astro-sanity';
// import PortableText from '../../components/PortableText.astro';

// export async function getStaticPaths() {
//   const posts = await useSanityClient().fetch(`*[_type == "post"]`);

//   return posts.map((post) => {
//     return {
//       params: {
//         slug: post.slug?.current || '',
//       },
//       props: { ...post },
//     };
//   });
// }

// const { title, body } = Astro.props;
export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
---

<BlogPost {...post.data}>
	<h1>{post.data.title}</h1>
	<Content />
</BlogPost>
